/* Resetting body */
*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Heebo', sans-serif;/*google font*/
    


}
/* Styling the main section landing page */
#main{
    background-image: url("../assets/backgrounds/h_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    font-size: 1.6em;
    text-align: center; 
    display:flex;
    color: #ffffff;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;

}
#logo{
    margin-bottom: 150px;
}
#mouse{
    animation: upDown 10s infinite;
    position: relative;
    margin-top: 200px;
}

#About{
    width: 100vw;
    height: 50vh;
    text-align: center;
    font-size: 1.8em;
    line-height: 1.6em;

}