/* Resetting body */
*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Heebo', sans-serif;/*google font*/
    


}
/* Styling the main section landing page */
#main{
    background-image: url("../assets/backgrounds/h_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    font-size: 1.6em;
    text-align: center; 
    display:flex;
    color: #ffffff;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;

}
#logo{
    margin-bottom: 150px;
}
#mouse{
    animation: upDown 10s infinite;
    position: relative;
    margin-top: 200px;
}

#About{
    width: 100vw;
    height: 50vh;
    text-align: center;
    font-size: 1.8em;
    line-height: 1.6em;

}
#About h1, #services h1{
    text-transform: uppercase;
    font-weight: 900;
    padding-top:70px;
    
    }
    #services{
        width:100vw ;
        height: 50vh;
        text-align: center;
        background-image: url("../assets/backgrounds/s_image.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        color: #ffffff;
        margin-bottom: 30px;
        
    
    
    }
    #services p{
        font-size: 1.3em;
    }
    #whatWeDo{
        width: 100vw;
        text-align: center;
    }
    #portfolio{
        text-align: center;
        
    }
    #portfolio h1, #whatWeDo h1{
        font-weight: 900;
        padding-top:70px;
        padding-bottom: 40px;
        text-transform: uppercase;
        font-size: bolder;
    }